In [ ]:
use world;

-- Question 1 : Count how many cities are there in each country?

SELECT countrycode, COUNT(*) AS city_count
FROM city
GROUP BY countrycode
ORDER BY city_count DESC;

-- Question 2 : Display all continents having more than 30 countries.

SELECT continent, COUNT(*) AS country_count
FROM country
GROUP BY continent
HAVING COUNT(*) > 30;

-- Question 3 : List regions whose total population exceeds 200 million.

SELECT region, SUM(country_pop) AS total_population
FROM country
GROUP BY region
HAVING SUM(country_pop) > 2000000000;

-- Question 4 : Find the top 5 continents by average GNP per country.

SELECT continent, AVG(GNP) AS avg_gnp
FROM country
GROUP BY continent
ORDER BY avg_gnp DESC
LIMIT 5;

-- Question 5 : Find the total number of official languages spoken in each continent.

SELECT c.Continent,
COUNT(DISTINCT cl.Language) AS official_languages
FROM Country c
JOIN CountryLanguage cl
ON c.Country_Code = cl.CountryCode
WHERE cl.IsOfficial = 'T'
GROUP BY c.Continent;


-- Question 6 : Find the maximum and minimum GNP for each continent.

SELECT continent, MAX(GNP) AS max_gnp, MIN(GNP) AS min_gnp
FROM country
GROUP BY continent;

-- Question 7 : Find the country with the highest average city population.

SELECT c.Country_Name AS country,
AVG(ci.Population) AS avg_city_population
FROM Country c
JOIN City ci ON c.Country_Code = ci.CountryCode
GROUP BY c.Country_Name
ORDER BY avg_city_population DESC
LIMIT 1;


-- Question 8 : List continents where the average city population is greater than 200,000.

SELECT c.Continent,
AVG(ci.Population) AS avg_city_population
FROM Country c
JOIN City ci ON c.Country_Code = ci.CountryCode
GROUP BY c.Continent
HAVING AVG(ci.Population) > 200000;


-- Question 9 : Find the total population and average life expectancy for each continent, ordered by average life


SELECT continent, SUM(country_pop) AS total_country_pop, AVG(lifeexpectancy) AS avg_life_expectancy
FROM country
GROUP BY continent
ORDER BY avg_life_expectancy DESC;

-- Question 10 : Find the top 3 continents with the highest average life expectancy, but only include those where

SELECT Continent,
       AVG(LifeExpectancy) AS avg_life_expectancy,
       SUM(country_pop) AS total_population
FROM Country
GROUP BY Continent
HAVING SUM(country_pop) > 200000000
ORDER BY avg_life_expectancy DESC
LIMIT 3;